*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
ul i{
    font-size: xx-large;
}
/*styling of main section*/
main a{
    color: #000;
    border-color: #000;
}
details summary {
    list-style: none;
  }
  
  details summary::-webkit-details-marker {
    display: none;
  }
  
  details summary::marker {
    display: none;
  }
  