*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
html,
body{
    height: 100%;
    width: 100%;
    font-family: "lora";
}
.dark{
    color: #d1cfcf;
    background-color: rgb(48, 46, 46);
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    border: 2px solid black;
    height: 80%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header{
    width: 100%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.change-theme{
    width: 40%;
    font-size: x-large;
    cursor: pointer;
}

.heading{
    width: 50%;
    color: aqua;
    font-weight: 20;
}
.heading h3{
    display: inline-block;
    border-bottom: 2px solid aqua;
}
.input{
    padding: 4px;
    height: 35%;
    width: 100%;
}
.input p{
    height: 20%;
    width: 100%;
    color: grey;
    text-align: right;
    font-size: 30px;
}
.input input{
    border: none;
    outline: none;
    width: 100%;
    height: 80%;
    align-items: center;
    font-size: 60px;
    text-align: right;
    background-color: transparent;
}
.operator{
    padding-top: 10%;
    padding-bottom: 10%;
    height: 80%;
    width: 100%;
    background-color: rgba(0, 255, 255, 0.02);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.btns{ 
    height: 15%;
    width: 100%;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button{
    cursor: pointer;
    height: 95%;
    width: 23%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 30px;
}
button:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgba(0, 255, 255, 0.2); 
}

.blue{
    color: aqua;
}
.btn-dark{
    color: #d1cfcf;
}

@media (max-width:900px) {
    .calculator{
        height: 100%;
        width: 100%;
        border: none;
    }
}